:root {
  --je-primary-color: #004b93;
  /* theme-100 or theme-200 // theme-800 or theme-900 ? */
  --je-secondary-color: #af784e;
  /* theme-core or theme-500 or theme-600 */
  --je-ternary-color: #c9002b;
  --je-light-color: #dfe3e4;
  --je-dark-color: #1b1b1b;
}

/* Sticky Footer */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* End Sticky Footer */

footer,
nav.navbar {
  flex-shrink: 0;
  background-color: var(--je-primary-color);
  color: var(--je-light-color);
}

footer .bi {
  font-size: 2rem;
  padding-left: .5rem;
  color: var(--je-light-color);
  transition: color 0.15s ease-in;
}

footer .bi:hover {
  color: var(--je-secondary-color);
}

.nav-link.active:hover {
  color: var(--je-secondary-color);
}

.devicons {
  font-size: 3rem;
}

.bi-check-square-fill {
  color: var(--je-secondary-color);
}

.app-logo {
  max-width: 400px;
  border-radius: 15px;
  background-color: var(--je-primary-color);
  padding: 5%;
}

.fizzBuzz {
  background-color: var(--je-secondary-color) !important;
  color: #ffffff !important;
}

.fizz {
  background-color: var(--je-primary-color) !important;
  color: #ffffff !important;
}

.buzz {
  background-color: var(--je-ternary-color) !important;
  color: #ffffff !important;
}

span.fizzBuzz,
span.fizz,
span.buzz {
  border-radius: 4px;
}

.resultsContainer {
  overflow-y: auto;
  max-height: calc(100vh - 554px);
}

#results>div {
  width: 20%;
  padding: 0.5em 0em;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  text-align: center;
}

.resultsContainer:has(div:not(:empty)) {
  min-height: 308px;
}

@media (min-width: 768px) {
  .resultsContainer {
    max-height: calc(100vh - 634px);
  }
}

@media (min-width: 992px) {
  .resultsContainer {
    max-height: calc(100vh - 424px);
  }
}

.code-header,
.je-button {
  background-color: var(--je-primary-color);
  color: var(--je-light-color);
  text-align: center;
}

.code-header:hover,
.je-button:hover,
.je-button:focus {
  background-color: var(--je-secondary-color);
  color: var(--je-light-color);
}